$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import "compass/css3/box-shadow";

/* Space out content a bit */
body {
  background: #FFFFFF;
  font-family: Montserrat, Arial;
}
.container-fluid {
  padding:0;
  height:100%;
  .wrapper {
    height:100%;
  }
}
.header {
  z-index:100;
  position:relative;
  h3 {
    margin:40px 0 0 60px;
    font-size:1em;
    a {
      font-size:1em;
      text-transform: uppercase;
      color:  rgba(0, 0, 0, 0.5);
    }
  }
  .social-link {
    margin:40px 60px 0 0;
    li {
      float:right;
      color:  rgba(0, 0, 0, 0.5);
      font-size:1.3em;
      list-style-type: none;
      padding:5px;
    }
    a {
      color:  rgba(0, 0, 0, 0.5);
    }
  }
}

.content {
  height:100%;
  padding-top:10%;
  font-size:1em;
  .answer {
    text-align:center;
    color:#FFF;
    .title {
    font-size:6em;
      font-weight: bold; 
      text-transform: uppercase;
      margin-bottom:20px;
    }
    .phrase {
      font-size:1em;
      text-transform: uppercase;
      margin-bottom:70px;
    }
    .progress {
      background: #c44316;
      position: relative;
      margin:auto;
      border-radius: 8px;
      border-width: 3px;
      border-color:  #852c0e;
      border-style: solid;
      width: 408px;
      height: 54px;
      .text-wrapper {
        position: absolute;
        z-index: 10;
        text-align: center;
        width: 100%;
        .text {
          color:  #ffffff;
          font-size: 16px; /* Approximation causée par une substitution de police */
          font-weight: 400;
          line-height: 48px;
        }
      }
      .progress-bar {
        background:  #852c0e;
        box-shadow: none;
        border-color:  #852c0e;
      } 
    }

  }
  &.opened {
    background: #16c495;
    .progress {
      background: #16c495;
    }
  }
  &.closed {
    background: #c44316;
  }
}
