$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";

/* Space out content a bit */
body {
  background: #FFFFFF;
  font-family: Montserrat, Arial;
}
.container-fluid {
  padding:0;
  height:100%;
  .wrapper {
    height:100%;
  }
}
.header {
  z-index:100;
  position:relative;
  h3 {
    margin:40px 0 0 60px;
    font-size:1em;
    a {
      font-size:1em;
      text-transform: uppercase;
      color:  rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }
  }
  .wrapper-social-button {
    @include opacity(0.5);

    div {
      float: left;
      margin-right:10px;
    }
    &:hover {
      @include opacity(1);
    }
  }
  .social-link {
    margin:40px 60px 0 0;
    li {
      float:right;
      color:  rgba(0, 0, 0, 0.5);
      font-size:1.3em;
      list-style-type: none;
      padding:5px;
    }
    a {
      color:  rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }
  }
}

section {
  overflow: hidden;
}
.content {
  height:100%;
  font-size:1em;

  .bridge-wrapper {
    height: 30%;
    position: relative;
    .bridge {
      margin: auto;
      max-width:450px;
      height:110px;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      text-align:center;
      [class*='bridge-'] {
        width:90%;
      }
      .bridge-closed {
        left:162px;
        top:20px;
      }
      .bridge-middle-opened {
        left:162px;
        top:60px;
      }
      img {}
    }

    &.opened {
      background-color: #49D2AD;
      .progress {
        background: #16c495;
      }
    }
    &.closed {
      background-color: #d15125;
    }
  }
  .answer-wrapper {
    position:relative;
    height:50%;
    text-transform: uppercase;
    .answer {
      margin: auto;
      max-width:600px;
      height:230px;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      text-align:center;
      color:#FFF;
      padding: 0 20px;
      .title {
        font-size:6em;
        font-weight: bold; 
        text-transform: uppercase;
        margin:0px;
      }
      .phrase {
        font-size:1em;
        text-transform: uppercase;
        margin-bottom:50px;
      }
      .progress {
        background: #c44316;
        position: relative;
        margin:auto;
        border-radius: 8px;
        border-width: 3px;
        border-color:  #852c0e;
        border-style: solid;
        width: 408px;
        height: 54px;
        .text-wrapper {
          position: absolute;
          z-index: 10;
          text-align: center;
          width: 100%;
          .text {
            color:  #ffffff;
            font-size: 16px;
            font-weight: 400;
            line-height: 48px;
            text-transform: uppercase;
          }
        }
        .progress-bar {
          background:  #852c0e;
          box-shadow: none;
          border-color:  #852c0e;
        } 
      }

    }
    &.opened {
      .text-wrapper {
        background: #16c495;
        position: relative;
        margin:auto;
        border-radius: 8px;
        border-width: 3px;
        border-color:  #0F7F61;
        border-style: solid;
        padding:20px 20px;
        .text {
          margin: 0;
          font-size: 14px;
        }
      }
      background: #16c495;
      .progress {
        background: #16c495;
        border-color:  #0F7F61;
        
      }

    }
    &.closed {
      background: #c44316;
    }
  }

  .boat-wrapper {
    overflow: hidden;
    height:20%;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    color:  #ffffff;
    .text {
      color:  #ffffff;
      font-size: 12px;
      font-weight: 400;

    }
    .title {
      font-size: 12px;
    }
    .boat-name {
      font-size: 16px;
      font-weight: bold;

    }
    .fa-anchor {
      position: relative;
      margin-top:5px;
    }
    .dashed-content {
      height:65%;
      position: relative;
      &:after {
        content:"";
        z-index: 10;
        position:absolute;
        top: 0;
        bottom: 0;
        left: 50%;
      }
    }
    
    
    &.opened {
      background:  #16c495;
      .dashed-content::after {
        border-left: 2px dashed #139370;
      }
      .fa-anchor {
        background: #139370;
      }
    }
    &.closed {
      background: #c44316;
      .dashed-content::after {
        border-left: 2px dashed #d15125;
      }
    }

  }

  
  
}

.timeline {
  z-index: 11;
  .boat-wrapper {
    width:100%;
    margin: 50px auto 100px;
    .time {
      color:  #7a959f;
      font-size: 12px;
      text-align:right;
      position: absolute;
      right: 50%;
      margin-right: 40px;
      line-height:10px;
      margin-top:7px;
      .date {
        font-weight:bold;
      }
      .range {
        font-weight:normal;
      }
    }
    .picto {
      float:left;
      text-align: center;
      z-index: 20;
      position: relative;
      .fa-anchor {
        background-color:  #00aff4;
      }
      position: absolute;
      left: 50%;
      margin-left: -22px;

    }
    .boat-name {
      color:  #194c60;
      font-size: 16px;
      font-weight: bold;
      line-height: 48px;
      position: absolute;
      left: 50%;
      margin-left: 40px;
    }
  }
  &:after {
    content:"";
    z-index: 1;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px dashed #e6e6e6;
  }
  .radian-bottom {
    box-shadow: 0px 0px 100px 70px #FFF;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 30;
  }
}

.about {
  background-color: #56caf8;
  z-index: 30;
  .person-wrapper {
    margin: auto;
    //max-width:560px;
    height:230px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;


    .person {
      

      text-align:center;
      padding: 0 60px;
      .avatar {

      }
      .name {
        color:  #194c60;
        font-size: 26px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom:0;
      }
      .title {
        color:  #194c60;
        font-size: 13px;
        font-weight: 400;
        line-height: 24px;
        margin:0 0 7px;
      }
      .social {
        color:  #2a8eb5;
        font-size: 23px;
        font-weight: 400;
        line-height: 44px;
      }
    }
  }
    
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  #uservoice {
    color:  rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin:30px;
  }
  #uservoice:hover {
    color:  rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }

}
@media (max-width: 750px) { 
  .about .person-wrapper .person {
    float:none !important;
  }
  .about .person-wrapper {
    height:470px;
  }
  .wrapper-social-button {
    display:none;
  }
  .content .answer-wrapper .answer .phrase {
    margin-bottom:30px;
  }
  .content .boat-wrapper {
    height:0%;
  }
  .content .answer-wrapper {
    height:70%;
  }
}

.fa-anchor {
  color:#FFFFFF;
  &.circled {
    border-radius: 50%;
    background-color:  #d15125;
    padding: 15px 15px 15px 17px;
  }
}

