
.header
  %ul.pull-right.social-link
    
    %li
      %a(ng-href="#")
        %i.fa.fa-envelope-o
    %li •
    %li
      %a(ng-href="#")
        %i.fa.fa-github
    %li •
    %li
      %a(ng-href="#")
        %i.fa.fa-facebook-square
    
    %li •
    %li
      %a(ng-href="#")
        %i.fa.fa-twitter
  %h3.pull-left
    %a{ng-click: 'moveToAbout()', ng-href: "#"} A propos