
.header(ng-controller="HeaderCtrl")
  %h3.pull-left
    %a(ng-click='moveToAbout()') A propos
-#   %ul.pull-right.social-link
    
-#     %li
-#       %a(ng-href="#")
-#         %i.fa.fa-envelope-o
-#     %li •
-#     %li
-#       %a(ng-href="#")
-#         %i.fa.fa-github
-#     %li •
-#     %li
-#       %a(ng-click="shareFb()")
-#         %i.fa.fa-facebook-square
    
-#     %li •
-#     %li
-#       %a(ng-href="#")
-#         %i.fa.fa-twitter
  