
.header(ng-controller="HeaderCtrl")
  %h3.pull-left.wrapper-social-button
    <div class="fb-like" data-href="http://estcequelepontchabanestouvert.fr" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>    
    %div.wrapper-twitter
      %a(class="twitter-share-button" href="https://twitter.com/share")
    
  -# %ul.pull-right.social-link
    
  -#   %li
  -#     %a(ng-href="#")
  -#       %i.fa.fa-envelope-o
  -#   %li •
  -#   %li
  -#     %a(ng-href="#")
  -#       %i.fa.fa-github
  -#   %li •
  -#   %li
  -#     %a(ng-click="shareFb()")
  -#       %i.fa.fa-facebook-square
    
  -#   %li •
  -#   %li
  -#     %a(ng-href="#")
  -#       %i.fa.fa-twitter
  -# 

<script type="text/javascript">
window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
</script>