%div.main#fullpage(ng-controller="MainCtrl")
  %div.section      
    %div.content(ng-hide="isOpen")
      %div.bridge-wrapper.closed
        %div.bridge
          %img.bridge-closed(ng-src="images/bridge-closed.png")
      %div.answer-wrapper.closed
        %div.answer
          %h1.title Non
          %p.phrase LE PONT CHABAN DELMAS EST FERMÉ
          %div.loader
            %div.progress 
              %div.text-wrapper
                %p.text 
                  %i.fa.fa-warning
                  &nbsp;&nbsp;&nbsp;
                  Réouverture dans {{ timeToEndHours }}h{{ timeToEndMinutes }}
              %div.progress-bar(role="progressbar" aria-valuenow="{{ percentComplete }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentComplete }}%;")
      %div.boat-wrapper.closed
        %p.text Actuellement
        %p.boat-name {{ boatNames.join(' et ') }}
        %p.fa.fa-anchor.circled
        %div.dashed-content

    %div.content.opened(ng-show="isOpen")
      %div.bridge-wrapper.opened
        %div.bridge
          %img.bridge-closed(ng-src="images/bridge-open.png")
      %div.answer-wrapper.opened
        %div.answer
          %h1.title Oui
          %p.phrase Le pont Chaban Delmas est ouvert
          %div.text-wrapper
            %p.text 
              %i.fa.fa-warning
              &nbsp;&nbsp;
              Prochaine fermeture le {{ nextBoat.date }} entre {{ nextBoat.timeBegin }} et {{ nextBoat.timeEnd }}
      %div.boat-wrapper.opened
        %p.title Prochain bateau
        %p.boat-name {{ nextBoat.boatNames.join(' et ') }}
        %p.fa.fa-anchor.circled
        %div.dashed-content

  %div.section
    %div.timeline
      %div.radian-bottom
      %div.boat-wrapper{ng-repeat: "action in actions"} 
        %div.time 
          %p.date Le {{ action.date}}
          %p.range entre {{ action.timeStart }} et {{ action.timeEnd }}  
        %div.picto
          %i.fa.fa-anchor.circled
        %p.boat-name {{ action.boatName }}
        %div.clearfix
  %div.section.about
    %div.person-wrapper
      %div.person.pull-left
        %img.avatar(ng-src="images/avatar-antoine.png")
        %h2.name Antoine L.
        %h3.title Captaine Dev
        %p.social
          %a(href="https://twitter.com/antoinelenoir")
            %i.fa.fa-twitter
          &nbsp;&nbsp;&nbsp;
          %a(href="https://github.com/alenoir")
            %i.fa.fa-github
      %div.person.pull-right
        %img.avatar(ng-src="images/avatar-mourad.png")
        %h2.name Mourad M.
        %h3.title Amiral Design
        %p.social
          %a(href="https://twitter.com/mouradm")
            %i.fa.fa-twitter
          &nbsp;&nbsp;&nbsp;
          %a(href="https://dribbble.com/tawak")
            %i.fa.fa-dribbble
          